.middle {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 45px;
  margin-bottom: 30px;

  .get {
    position: relative;
    margin-bottom: 40px;
    h1 {
      padding-bottom: 20px;
    }
    main {
      background: #6c5fbc;
      background-image: url("../../../assets/back.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px;
      height: 150px;
      color: #ffffff;
      align-items: flex-start;
      border-radius: 25px;
      position: relative;
      h1 {
        font-weight: 800;
        font-size: 80px;
        font-family: "Inter", serif !important;
      }
      h2 {
        position: absolute;
        top: 55%;
        font-weight: 600;
        font-size: 45px;
        color: white;
        font-family: "Inter", serif !important;
      }
    }
    .tamak {
      position: absolute;
      right: 20px;
      top: 50px;
    }
  }
  .chart {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    gap: 60px;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
    header,
    aside,
    div,
    p {
      display: flex;
      align-items: center;
    }
    header {
      justify-content: space-between;
      h1 {
        color: #323142;
      }
      aside {
        cursor: pointer;
        gap: 30px;
        div {
          gap: 5px;
          span {
            font-weight: 700;
            color: #323142;
          }
        }
        p {
          background: #f9f9f9;
          padding: 5px 10px;
          border-radius: 5px;
          gap: 5px;
          font-weight: 600;
          color: #323142;
        }
      }
    }
    .graph {
      width: 100%;
      height: auto;
    }
    div {
      justify-content: space-evenly;

      .nonActive {
        color: #6e757c;
        font-size: 15px;
        box-sizing: border-box;
        font-weight: 600;
        transition: 0.4s;
        cursor: pointer;
        padding: 10px 15px;
        &:hover {
          background: #f9f9f9;
          color: #6c5fbc;
          border-radius: 10px;
        }
      }
      .active {
        background: #f9f9f9;
        color: #6c5fbc;
        border-radius: 10px;
        padding: 10px 15px;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
  .bottomCards {
    display: grid;
    grid-template-columns: 50% 46%;
    gap: 30px;
    .chickenLeft {
      display: flex;
      border: 2px solid #edf2f7;
      border-radius: 20px;
      padding: 20px 10px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .cardMain {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        aside {
          display: flex;
          gap: 20px;
          align-items: center;
          div {
            display: flex;
            flex-direction: column;
          }
        }
        img {
          background: #f4f0ff;
          border-radius: 50px;
          padding: 10px 10px;
        }
        h1 {
          font-size: 14px;
        }
        p {
          font-size: 15px;
          color: #a0aec0;
        }
      }
      span {
        font-size: 15px;
        font-weight: 700;
      }
      .line {
        height: 10px;
        width: 100%;
        border-radius: 20px;
        .inLine {
          display: block;
          width: 70%;
          height: 10px;
          border-radius: 20px;
        }
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .heading {
        color: #323142;
        font-size: 27px;
      }
      p {
        background: #f9f9f9;
        font-size: 15px;
        font-weight: 500;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
    }

    .stats,
    .purchasesPart {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 30px 20px;
      border: 2px solid #edf2f7;
      border-radius: 10px;
      main,
      aside,
      .infos,
      div {
        display: flex;
      }

      main {
        justify-content: space-between;
        border-radius: 10px;
        background: #f9f9f9;
        padding: 27px 20px;
        aside {
          flex-direction: column;
          gap: 10px;
          .infos {
            align-items: center;
            gap: 20px;
            div {
              flex-direction: column;
              gap: 10px;
              h1 {
                font-size: 18px;
              }
              span {
                color: #6e757c;
              }
            }
          }
        }
      }
    }
  }
}
