.get{
    position: relative;
    padding: 10% 100px 15% 100px;
    margin: 50px 0 100px 0;
    main{
        background: #6C5FBC;
        background-image: url("../../assets/back.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        border-radius: 25px;
        h1{
            font-size: 70px;
            font-family: "Inter", serif !important;
        }
        form{
            width: 35%;
            background: #ffffff;
            padding: 10px;
            display: flex;
            border-radius: 15px;
            input{
                width: 100%;
                border: none;
                outline: none;
                color: #878787;
                font-weight: 600;
                background: #ffffff;
                font-size: 15px;
                &::placeholder{
                    color: #878787;
                }
            }
            button{
                cursor: pointer;
                color: #F7F8FA;
                background: #6C5FBC;
                padding: 15px 20px;
                text-transform: uppercase;
                border: none;
                border-radius: 10px;
            }
        }
    }
    .tamak{
        position: absolute;
        right: 200px;
        bottom: 150px;
    }
}

@media (max-width : 900px) {
    .get{
        padding: 10% 50px 15% 50px;
        main{
            display: flex;
            flex-direction: column;
            background-image: none;
            justify-content: center;
            align-items: center;
            padding-bottom: 110px;
            form{
                width: 100%;
            }
        }
        .tamak{
            bottom: -50px;
            width: 30%;
            right: 35%;
        }
    }
}