.menu {
  padding: 30px 150px;
  background: #5c4eae;
  color: #ffffff;
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    div {
      padding: 20px 80px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 15px;
      p {
        color: #c5bfed;
        gap: 20px;
      }
      h1{
        font-size: 45px;
      }
      &:nth-of-type(2){
        border-left: 2px solid #776db0;
        border-right: 2px solid #776db0;
      }
    }
  }
}
.phone {
    position: relative;
  padding: 50px 150px 50px 200px;
  display: flex;
  gap: 50px;
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0 0 200px;
    gap: 60px;
    h1 {
      font-size: 50px;
      color: black;
      span {
        color: #6c5fbc;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        color: #676767;
        margin-left: 50px;
      }
    }
  }
  button {
    background: #6c5fbc;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .line{
    position: absolute;
    bottom: 130px;
    right: 23%;
  }
}
