.article {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    main,
    div {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 20px;

          line-height: 40px;
        }
        ul {
          padding-left: 15px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          li {
            font-size: 20px;
          }
        }
      }
      div {
        section {
          display: flex;
          flex-direction: column;
          gap: 30px;
          h1 {
            font-size: 35px;
          }
          p {
            font-size: 20px;
            line-height: 40px;
          }
        }
      }
    }
    .top {
      padding-left: 50px;
      border-left: #9b9b9b 1.5px solid;
      display: flex;
      flex-direction: column;
      gap: 25px;
      h1 {
        font-size: 25px;
      }
      .cards {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: repeat(3, 30%);
        gap: 50px;

        article {
          padding: 10px;
          box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.3);
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          cursor: pointer;
          h1 {
            font-size: 13px;
          }
          .photos {
            height: 200px;
            border-radius: 15px;
          }
          aside {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .mini {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 10px;

              .miniNav {
                display: flex;
                flex-direction: column;
                gap: 1px;
                p {
                  color: #8d8d8d;
                  line-height: normal;
                  font-size: 10px;
                }
                h6 {
                  font-size: 13px;
                }
              }
              .ava {
                width: 50%;
              }
            }
            span {
              color: #8d8d8d;
              font-size: 10px;
              white-space: nowrap;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
  button{
    background-color: #6C5FBC;
    color: white;
    width: 15%;
    font-weight: 700;
   font-size: 15px;
    border: none;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 10%;
    }
  }
}
