.article{
    padding: 100px;
    display: flex;
    flex-direction: column;
    header{
        display: flex;
        main,div{
            display: flex;
            flex-direction: column;
            gap: 50px;
            nav{
                display: flex;
                flex-direction: column;
               gap: 30px;
               h1{
                font-size: 25px;
               }
               ul{
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;
               }
            }
            div{
                section{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    h1{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}