.blogCard{
    padding:50px  100px 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    div {
        display: flex;
        gap: 10px;
        align-items: center;
        nav {
          p {
            color: #8d8d8d;

            font-size: 13px;
          }
          h6 {
            font-size: 18px;
          }
        }
      }
    .image{
        width: 85vw;
        height: 45vh;
        object-fit: cover;
    }
}