.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
  position: relative;
  background: none;
  z-index: 2;
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .burger{
      display: none;
      cursor: pointer;
    }
    nav {
      display: flex;
      gap: 50px;

      .nonActive {
        text-decoration: none;
        font-size: 18px;
        color: #606060;
        font-weight: 500;
        transition: 0.5s;
        &:hover {
          color: #6c5fbc;
        }
      }
      .active {
        color: #6c5fbc;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
      }
    }
    aside {
      display: flex;
      gap: 20px;
      padding-left: 25%;
      .aut {
        .btns {
          text-decoration: none;
          font-size: 18px;
          color: #606060;
          background: none;
          padding: 12px 15px;
          border-radius: 10px;
          transition: 0.4s;
          font-weight: 700;
          &:hover {
            background: #6c5fbc;
            color: #f9f9f9;
          }
        }
      }
    }
  }
  hr {
    color: #cbcbcb;
  }
}
@media (max-width : 1100px) {
  .header{
    .main{
      aside{
        padding-left: 0%;
      }
    }
  }
}
@media (max-width : 1000px) {
  .header{
    padding: 20px 50px 10px 50px;
    gap: 10px;
    .main{
      .burger{
        display: block;
      }
      nav,aside{
        display: none;
      }
    }
  }
}
