.footer {
  padding: 70px 100px;
  background-color: #eaeaea;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: #818181 0.5px solid;
    .logo {
      cursor: pointer;
    }
    main {
      display: flex;
      gap: 50px;
      .links {
        text-decoration: none;
        color: #999999;
        transition: 0.3s ease-in-out;
      }
      .links:hover {
        color: #6c5fbc;
      }
    }
  }
  aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    p {
      color: #999999;
    }
    article {
      nav {
        display: flex;
        align-items: center;
        gap: 40px;
        .facebook,
        .linkedin,
        .twitter,
        .instagram {
          path {
            transition: fill 0.3s ease-in-out;
          }
          cursor: pointer;
        }
      }

      .facebook:hover {
        path {
          fill: blue;
        }
      }
      .instagram:hover {
        path {
          fill: rgb(231, 93, 125);
        }
      }
      .twitter:hover {
        path {
          fill: rgb(131, 201, 224);
        }
      }
      .linkedin:hover {
        path {
          fill: rgb(78, 221, 93);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
    header {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: flex-start;
      border-width: 100%;
      padding-bottom: 40px;
      main {
        display: flex;
        flex-direction: column;
        .links {
          color: #606060;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
    aside{
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      article{
        position: absolute;
        top: 15%;
        right: 15%;
      }
    }
  }
}
